<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Authentication| Game</title>
    <!-- load bottstrap 3.0.2-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load fontawesome 4.0.3-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style media="screen">
      body { padding-top: 80px; }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span> Authentication System</h1>

          <p>Login or Register with:</p>
          <a href="/signin" class="btn btn-default"> <span class="fa fa-user"></span>Local Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Local Signup</a>
        </div>
    </div>
  </body>
</html>
